@import url(../reset.css);

:root {
    --bg: #C7CACC;
    --font-800: #07080D;
    --font-500: #fff;

}

main {
    position: relative;
}

main::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 90%;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid rgba(255, 255, 255, 0.3);
    height: calc(100% + 40px);
    left: 5%;
    border-radius: 1rem;
}

body {
    background-color: var(--bg);
    color: var(--font-800);
}

ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul li {
    padding: 40px;
    background-color: #07080D;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0 #8484A4;
}

h1 {
    margin-top: 10px;
    margin-left: 60px;
    font-size: 1.8rem;
}

ul li.flex{
    background-color: #e3ecf1;
    color: #07080D;

}

ul li.flex h4{
    align-self: flex-start;
    
}

ul li.flex div{
  text-align: right;
    
}


.flex{
    display: flex;
    align-items: center;
}


button{
 color: #fff;
 background-color: var(--font-800);  
 border-radius: 3px;
 cursor: pointer;
 padding: 5px;
}

h4{
    font-size: 1.44rem;
    position: relative;
}

p{
    margin-top: 8px;
}


ul li h4::before{
    content: "";
    position: absolute;
    background-color: #7D8EB2;
    width: 20px;
    height: 5px;
    border-radius: 100vh;
    top:-5px;
}

ul li.flex:last-of-type h4::before{
    background-color: #949494;
}
ul li:first-of-type h4::before{
    background-color: #967864;
}